
<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Mary Had a Little Lamb</h1>
    <br>
    <p>Mary had a little <strong>@Model.Noun1</strong>, little <strong>@Model.Noun1</strong>, little <strong>@Model.Noun1</strong></p>
    <p>Mary had a little <strong>@Model.Noun1</strong>, its fleece was <strong></strong>@Model.Adj1 as snow</p>
    <br>
    <p>And everywhere that Mary <strong>@Model.Verb1</strong></p>
    <p>The <strong>@Model.Noun1</strong> was sure to go</p>
    <br>
    <p>It <strong>@Model.Verb2</strong> her to school one day</p>
    <p>Which was against the <strong>@Model.Noun2</strong></p>
    <br>
    <p>It made the <strong>@Model.Noun3</strong> laugh and <strong>@Model.Verb3</strong></p>
    <p>Laugh and play to see a <strong>@Model.Noun1</strong> at school</p>
    <br>
    <p>So the <strong>@Model.Noun4</strong> turned him <strong>@Model.Verb4</strong></p>
    <p>And <strong>@Model.Verb5</strong> him straight away.</p>
    
  </body>
</html>
